body {
    color: black;
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin: 0;
}

body::before {
    content: '';
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(7px) grayscale(70%);
}


/* Nav */
#bouton {
    transition: all 1s cubic-bezier(0.65, 0.01, 0.3, 1);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0px);
    border: none;
    margin: 10px;
    padding: 3px 7px 2px 7px;
    background: none;
    border: none;
    z-index: 11;
}

#bouton img {
    width: 30px;
}

nav {
    width: 300px;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.3);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-300px);
    transition: transform 1s cubic-bezier(0.65, 0.01, 0.3, 1);
    z-index: 10;
}

.actived {
    transform: translateX(0px);
}

.decale {
    transform: translateX(300px) !important;
}

#list {
    list-style-type: none;
    margin-top: 60px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

#list li {
    margin: 10px;
}

#list a {
    color: black;
}

@media all and (max-width:768px) {
    nav {
        width: 100vw;
        transform: translateX(-100vh);
    }

    nav::before {
        content: '';
        background-image: url(../img/background.jpg);
        background-size: cover;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(7px) grayscale(70%);
    }

    .decale {
        transform: translateX(90vw) !important;
    }
    
    #list li {
        margin: 10px auto;
    }
}




/* Main */
h1,
h2 {
    color: #2a2f2c;
    font-weight: bold;
    font-weight: 300;
    line-height: 1.125;
}

h1 {
    text-align: center;
}

#who {
    animation: title 5s linear infinite normal;
}

@keyframes title {

    0%,
    10%,
    20%,
    100% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(-20px);
    }

    15% {
        transform: translateY(-10px);
    }
}

.firstPar {
    margin-left: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}

#content {
    margin-top: 50px;
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokemon {
    display: flex;
    flex-wrap: wrap;
}


@media all and (max-width:768px) {
    #content {
        margin-top: 40px;
        max-width: 400px;
    }
    .firstPar {
        margin : 15px auto;
    }
    
    
}

/* Form */
form {
    margin-top: 20px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.divs {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.divs input{
    border: none;
}

#divFavorite {
    flex-direction: column;
}

#divFavorite label {
    margin-bottom: 10px;
}

.label {
    display: block;
    width: 150px;
}

#gender-female,
#gender-male {
    margin: 5px 10px;
}

.genderDiv{
    display: flex;
    flex-direction: row;
}

#pokemon img {
    width: 120px;
    height: 120px;
    margin: auto;
}

#pokeType {
    width: 150px;
    margin-left: 20px;
}

#sendIt {
    background-image: url(../img/btnSendIt.png);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(0, 0, 0, 0);
    border: none;
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


@media all and (max-width:768px) {
    form {
        align-items: center;
    }
    .divs {
        flex-direction: column;
        width: 150px;
        align-items: center;
    }
    .divs input{
        height: 25px;
        margin-left: 0;
        width: 150px;
    }
    .label {
        width: 150px;
        margin: 5px 0;
    }
    .genderDiv{
        width: 150px;
    }
    #gender-female, #gender-male {
        margin: 9px 10px;
        width: auto;
        height: auto;
    }
    #divFavorite {
        width: 80vw;
    }
    #pokeType {
        margin-left: 0px;
    }
    
}


/* Slider */
.section,
.sectionBtnSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sectionBtnSlide {
    flex-direction: row;
}

.lesDiv {
    display: none;
}

.divActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesDiv img {
    width: 300px;
}

.lesDiv p {
    width: 250px;
    text-align: justify;
}

.active {
    display: block;
}

.btnSlide {
    margin: 0 100px;
}

.btnSlide,
.btnSlide img {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}