body {
    color: black;
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin: 0;
}
body::before{
    content: '';
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter:blur(7px) grayscale(70%);
}

/* Nav */
#bouton{
    transition: all 1s cubic-bezier(0.65,0.01,0.3,1);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0px);
    border: none;
    margin: 10px;
    padding: 3px 7px 2px 7px;
    background: none;
    border: none;
}
#bouton img{
    width: 30px;
}
nav {
    width: 300px;
    height: 100vh;
    background-color: aqua;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-300px);
    transition: transform 1s cubic-bezier(0.65,0.01,0.3,1);
}
.actived{
    transform: translateX(0px);
}
.decale{
    transform: translateX(300px)!important;
}



/* Main */
h1, h2 {
    color: #2a2f2c;
    font-weight: bold;
    font-weight: 300;
    line-height: 1.125;
}
h1{
    text-align: center;
}
.firstPar{
    margin-left: 50px;
}
main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}
#content{
    margin-top: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pokemon {
    display: flex;
    flex-wrap: wrap;
}
/* Form */
form {
    margin-top: 20px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.divs{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.label{
    display: block;
    width: 150px;
}
#gender-female, #gender-male{
    margin: 5px 10px;
}
#pokeType{
    width: 150px;
    margin-left: 20px;
}
#sendIt{
    background: none;
    border: none;
    height: 100px;
}
#sendIt img{
    height: 70px;
}



/* Slider */ 
.section, .sectionBtnSlide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.sectionBtnSlide{
    flex-direction: row;
}
.lesDiv{
    display: none;
}
.divActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lesDiv img {
    width: 300px;
}
.lesDiv p {
    width: 250px;
    text-align: justify;
}
.active{
    display: block;
}
.btnSlide{
    margin: 0 100px;
}
.btnSlide, .btnSlide img{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}



