#pokemon {
    display: flex;
    flex-wrap: wrap;
}

.picture-active {
    background-color: red;
}


.like-active {
    display: block!important;
}

#pokemon img
{
    width: 96px;
    height:96px;
}

* {
    margin: 0;
    padding: 0;
}

form {
    margin-top: 5em;
}

/* A simple reset. */
*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}


/* Set up fonts, colors and all that jazz. */
body {
    color: #686a69;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    color: #2a2f2c;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.125;
}

#like
{
    margin-top: 0.7em;
}

#heart
{
    display:none;
    margin: auto;
}

#like:hover
{
    opacity:0.6;
    cursor:pointer;
}

/* Set up general layout rules for outer containers. */
.content,
.results {
    width: 90vw;
    max-width: 550px;
    margin: 8vh auto;
}

.content__heading {
    font-size: 125%;
}

.content__lede {
    margin-top: 8px;
    margin-top: 0.5rem;
    font-size: 87.5%;
}

.results__heading {
    font-size: 110%;
}

.results__display-wrapper {
    margin-top: 16px;
    margin-top: 1rem;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    background: #f9fdfe;
    border: 1px solid #cdcfcf;
    overflow-x: scroll;
}
body::before{
    content: '';
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter:blur(7px) grayscale(70%);
}

/* Nav */
#bouton{
    transition: all 1s cubic-bezier(0.65,0.01,0.3,1);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0px);
    border: none;
    margin: 10px;
    padding: 3px 7px 2px 7px;
    background: none;
    border: none;
}
#bouton img{
    width: 30px;
}
nav {
    width: 300px;
    height: 100vh;
    background-color: aqua;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-300px);
    transition: transform 1s cubic-bezier(0.65,0.01,0.3,1);
}
.actived{
    transform: translateX(0px);
}
.decale{
    transform: translateX(300px)!important;
}

/* Main */
h1, h2 {
    color: #2a2f2c;
    font-weight: bold;
    font-weight: 300;
    line-height: 1.125;
}
h1{
    text-align: center;
}
.firstPar{
    margin-left: 50px;
}
main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}
#content{
    margin-top: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pokemon {
    display: flex;
    flex-wrap: wrap;
}
/* Form */
form {
    margin-top: 20px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.divs{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.label{
    display: block;
    width: 150px;
}
#gender-female, #gender-male{
    margin: 5px 10px;
}
#pokeType{
    width: 150px;
    margin-left: 20px;
}
#sendIt{
    background: none;
    border: none;
    height: 100px;
}
#sendIt img{
    height: 70px;
}



/* Slider */ 
.section, .sectionBtnSlide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.sectionBtnSlide{
    flex-direction: row;
}
.lesDiv{
    display: none;
}
.divActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lesDiv img {
    width: 300px;
}
.lesDiv p {
    width: 250px;
    text-align: justify;
}
.active{
    display: block;
}
.btnSlide{
    cursor:pointer;
    margin: 0 100px;
}
.btnSlide, .btnSlide img{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}



